#profile .network-icon {
  margin-top: 5px;
}

footer {
  margin: 1rem 0 0;
  padding: 0rem 0;
  width: 100%;
}

.navbar {
  background: $sta-dark-menu-primary;
}

.dark .navbar {
  background: $sta-menu-primary;
}

.dark pre,
.dark code {
  color: $sta-dark-link;
  background-color: rgb(68, 71, 75);
}

// centering organization image
.portrait-title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Supppress the mobile workaround
@include media-breakpoint-down(md) {
  .parallax {
    background-attachment: fixed;
  }
}
