footer {
  margin: 1rem 0 0;
  padding: 0rem 0;
  width: 100%;
}

.navbar {
  background: $sta-dark-menu-primary;
}

.dark .navbar {
  background: $sta-menu-primary;
  .navbar-nav {
  .nav-link {
    &.active {
      font-weight: bold !important;
      color: $sta-menu-text-active !important;
      }
    }
  }
}

a:hover,
a:focus {
 color: $sta-dark-link-hover;
}

.dark a:hover,
.dark a:focus {
 color: $sta-link-hover;
}

.dark pre,
.dark code {
  color: $sta-dark-link;
  background-color: rgb(68, 71, 75);
}
